<div id="channel-{{channel.id}}">
  <div class="channel-img__contaniner mdl-shadow--2dp">
    {{channel-lazy-image channel=channel}}
  </div>
  <h4>{{channel.title}}</h4>
</div>

<div class="channel-card__info mdl-shadow--2dp" for="channel-{{channel.id}}">
  {{channel-lazy-image channel=channel}}
  <h5>{{channel.title}}</h5>
  {{#link-to 'channel' channel.id class="mdl-button mdl-js-button
  mdl-js-ripple-effect mdl-button--colored"}}Open{{/link-to}}
  <p>{{short-text channel.description}}</p>
</div>
