<div class="head {{if onlyLink 'only-link'}}">
  <div class="button-play-wrapper">
    {{#if onlyLink}}
      {{#link-to 'channel.episode' episode.channel_id episode.id (query-params autoplay=autoplayLink) tagName="button" class="playpause material-icons"}}
        play_arrow
      {{/link-to}}
    {{else}}
    <button {{action "playpause"}} class="playpause material-icons">
      {{if episode.playing 'pause' 'play_arrow'}}
    </button>
    {{/if}}
  </div>

  <h3 class="title">
    {{#if hasLink}}
      {{#link-to 'channel.episode' episode.channel_id episode.id (query-params autoplay=autoplayLink) class="more-info"}}
        {{episode.title}}
      {{/link-to}}
    {{else}}
      {{episode.title}}
    {{/if}}
  </h3>

  <time date={{episode.published_at}}>
    {{#if hasLink}}
      {{#link-to 'channel.episode' episode.channel_id episode.id (query-params autoplay=autoplayLink) class="more-info"}}
        {{episode.publishedAt}}
      {{/link-to}}
    {{else}}
      {{episode.publishedAt}}
    {{/if}}
  </time>

  {{#if episode.persisted}}
  <div  class="more-itens">
    <button class="material-icons" {{action 'more'}}>more_vert</button>
    <div class="itens">
      <ul>
        <li>
          <button {{action 'played'}}>
            {{#if episode.played}}
              Mark as Unplayed
            {{else}}
              Mark as Played
            {{/if}}
          </button>
        </li>
        <li>
          {{#link-to 'channel.episode' episode (query-params share-episode="on") tagName="button"}}
            Share
          {{/link-to}}
        </li>
        <li>
          <button {{action 'download'}}>Download</button>
        </li>
      </ul>
    </div>
  </div>
  {{/if}}
</div>

<div class="body {{if moreInfoOpened 'open'}}">
  {{{episode.description}}}
</div>
