<h3 class="title">
  {{episode.title}}
</h3>

<div class="description uk-hidden">
  {{episode.description}}
</div>

<div class="actions">
  <div class="uk-float-left">
    <button {{action "playpause"}} class="highlight play">
      {{#if episode.playing}}
      {{t 'components.episode_list_item.pause'}}
      {{else}}
      {{t 'components.episode_list_item.play'}}
      {{/if}}
    </button>
    <button {{action "info"}} class="more-info">
      {{t 'components.episode_list_item.info'}}
    </button>
  </div>

  <div class="uk-float-right">
    <button {{action 'listened'}} {{bind-attr data-id=episode.id}} {{bind-attr class=":typcn :icon :listened episode.listened:typcn-tick:typcn-tick-outline"}} {{bind-attr data-listened=episode.listened}}></button>

    <button {{action 'download'}} {{bind-attr data-id=episode.id}} {{bind-attr class=":typcn :icon episode.downloaded:typcn-trash:typcn-download :download"}}></button>
  </div>
</div>
