{{#with episode}}
<h3 class="title">
  {{title}}
</h3>
<div class="actions">
  <button {{bind-attr class=":typcn :uk-width-1-4 episode.playing:typcn-media-pause:typcn-media-play"}} {{action "playpause" episode}}>
  </button>

   <button {{bind-attr data-id=episode.id}} data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.listened"}}" {{bind-attr class=":typcn :listened :uk-width-1-4 episode.listened:typcn-tick:typcn-tick-outline"}}>
   </button>

   <button data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.info"}}" class="uk-width-1-4 more-info typcn typcn-info-large"> </button>

   <button {{bind-attr data-id=episode.id}} data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.download"}}" class="typcn typcn-download download uk-width-1-4"></button>
 </div>
{{/with}}

