{{#with episode}}
<h3 class="title">
  {{title}}
</h3>

<div class="description uk-hidden">
  {{description}}
</div>

<div class="actions">
  <div class="uk-float-left">
    <button {{action "playpause"}} class="highlight">
      {{#if playing}}
      PAUSE
      {{else}}
      PLAY
      {{/if}}
    </button>
    <button {{action "info"}} data-uk-tooltip="{pos:'bottom'}" class="more-info">
      INFO
    </button>
  </div>

  <div class="uk-float-right">
    <button {{bind-attr data-id=id}} data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.listened"}}" {{bind-attr class=":typcn :icon :listened listened:typcn-tick:typcn-tick-outline"}}></button>

    <button {{action 'download'}} {{bind-attr data-id=id}} data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.download"}}" class="typcn icon typcn-download download"></button>
  </div>
 </div>
{{/with}}

