{{#with episode}}
<h3 class="title">
  {{title}}
</h3>

<div class="description uk-hidden">
  {{description}}
</div>

<div class="actions">
  <div class="uk-float-left">
    <button {{action "playpause"}} class="highlight">
      PLAY
    </button>
    <button {{action "info"}} data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.info"}}" class="more-info">
      INFO
    </button>
  </div>

  <div class="uk-float-right">
    <button {{bind-attr data-id=episode.id}} data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.listened"}}" {{bind-attr class=":typcn :listened episode.listened:typcn-tick:typcn-tick-outline"}}></button>

    <button {{bind-attr data-id=episode.id}} data-uk-tooltip="{pos:'bottom'}" title="{{t "episode.button.download"}}" class="typcn typcn-download download"></button>
  </div>
 </div>
{{/with}}

