<div class="button-play-wrapper">
  <button {{action "playpause"}} class="playpause material-icons">
    {{if episode.playing 'pause' 'play_arrow'}}
  </button>
</div>

<h3 class="title">
  {{!-- {{#link-to 'channel.episode' episode class="more-info"}} --}}
    {{episode.title}}
  {{!-- {{/link-to}} --}}
</h3>

<time date={{episode.published_at}}>
  {{!-- {{#link-to 'channel.episode' episode class="more-info"}} --}}
    {{episode.publishedAt}}
  {{!-- {{/link-to}} --}}
</time>

<div  class="more-itens">
  <button class="material-icons" {{action 'info'}}>more_vert</button>
  <div class="itens">
    <ul>
      <li>
        <button {{action 'played'}}>
          {{#if episode.played}}
            Mark as Unplayed
          {{else}}
            Mark as Played
          {{/if}}
        </button>
      </li>
      {{!-- <li>
        <button id="share-button-{{episode.id}}">Share</button>
      </li> --}}
      <li>
        <button {{action 'download'}}>Download</button>
      </li>
    </ul>
  </div>
</div>

<!--
{{#if session.isAuthenticated}}
  <span class="progress">{{episode.progress}}%</span>
{{/if}}

<div class="actions">
  <div class="uk-float-right">
    {{#if rightActions}}
    {{#if session.isAuthenticated}}
      <button {{action 'played'}} {{bind-attr data-id=episode.id}} {{bind-attr class=":typcn :icon :played episode.played:typcn-tick:typcn-tick-outline"}} {{bind-attr data-played=episode.played}}></button>
      {{#if episode.downloading}}
        <img class="downloading" src="assets/loading-download.gif" />
      {{else}}
        <button {{action 'download'}} {{bind-attr data-id=episode.id}} {{bind-attr class=":typcn :icon episode.downloaded:typcn-trash:typcn-download :download"}}></button>
      {{/if}}
    {{/if}}
    <button {{action 'share'}} class="typcn icon typcn-export-outline share-button"/>
    <div id="share-button-{{episode.id}}" class="share-button"></div>
    {{/if}}
  </div>
</div>

-->
