{{#if channel.subscribed}}
<button class="uk-button uk-button-success typcn typcn-tick" {{action 'unsubscribe'}}>
  {{t 'components.subscribe_button.subscribed'}}
</button>
{{else}}
<button class="uk-button uk-button-primary typcn typcn-tick-outline" {{action 'subscribe'}}>
  {{t 'components.subscribe_button.subscribe'}}
</button>
{{/if}}
