<div id="aside-wrapper" class="uk-animation-fade column three-twelfth uk-hidden-small">
  <aside class="column three-twelfth ">
    <header>
      <hgroup>
        {{#link-to 'index'}}
          <h1>Uhura</h1>
          <h2>Podcast Manager</h2>
        {{/link-to}}
      </hgroup>
    </header>

    <ul class="uk-animation-fade">
      <li>
        {{#link-to 'index' }}
          <span class="typcn typcn-home-outline"></span>{{t "sidebar.home"}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'channel.new' }}
          <span class="typcn typcn-document-add"></span>{{t "sidebar.channel_add"}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'settings' }}
          <span class="typcn typcn-cog-outline"></span>{{t "sidebar.settings"}}
        {{/link-to}}
      </li>
      <li>
        <a href="/users/sign_out">
          <span class="typcn typcn-power-outline"></span>{{t "sidebar.sign_out"}}
        </a>
      </li>
    </ul>

    <ol>
      {{#each channel in model}}
        {{#with channel}}
        <li id="channel-{{unbound id}}" {{bind-attr class=to_view:new:ok}}>
          {{#link-to 'channel' id}}
            <img {{bind-attr src=image_url}} />
            <span class="title">{{title}}</span>
            {{#if to_view}}<i>{{to_view}}</i>{{/if}}
          {{/link-to}}
        </li>
        {{/with}}
      {{/each}}
    </ol>

    <footer>
      <a href="http://twitter.com/UhuraApp">
        <span class="typcn typcn-social-twitter"></span>{{t "footer.follow_us"}}
      </a>
      <br />
      <a href="https://www.facebook.com/uhuraapp">
        <span class="typcn typcn-social-facebook"></span>{{t "footer.like_us"}}
      </a>
      <p>
        {{{t "footer.contact"}}}
        <a href="mailto:dukekhaos@gmail.com">dukekhaos@gmail.com</a>
      </p>
    </footer>
  </aside>
</div>

<div id="sidebar-mobile" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
      <li>
        {{#link-to 'index' }}
          <span class="typcn typcn-home-outline"></span>{{t "sidebar.home"}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'channel.new' }}
          <span class="typcn typcn-document-add"></span>{{t "sidebar.channel_add"}}
        {{/link-to}}
      </li>
      <li>
        <a href="/users/sign_out">
          <span class="typcn typcn-power-outline"></span>{{t "sidebar.sign_out"}}
        </a>
      </li>
      {{#each channel in model}}
        {{#with channel}}
          <li {{bind-attr class="to_view:new:ok" }}>
            {{#link-to 'channel' id}}
              <img {{bind-attr src=image_url}} />
              <span class="title">{{title}}</span>
              {{#if to_view}}<i>{{to_view}}</i>{{/if}}
            {{/link-to}}
          </li>
        {{/with}}
      {{/each}}
    </ul>

    <footer>
      <a href="http://twitter.com/UhuraApp">
        <span class="typcn typcn-social-twitter"> </span>{{t "footer.follow_us"}}
      </a>
      <br />
      <a href="https://www.facebook.com/uhuraapp">
        <span class="typcn typcn-social-facebook"></span>{{t "footer.like_us"}}
      </a>

      <p>
        {{{t "footer.contact"}}}<br />
        <a href="mailto:dukekhaos@gmail.com">dukekhaos@gmail.com</a>
      </p>
    </footer>
  </div>
</div>

<a href="#sidebar-mobile" class="uk-navbar-toggle uk-visible-small uk-animation-fade" data-uk-offcanvas></a>
<a id="toggle-screen" class="uk-navbar-toggle uk-hidden-small uk-animation-fade"></a>

<div id="content" class="column nine-twelfth uk-animation-fade">
  {{outlet}}
  {{view App.PlayerView}}
</div>

<div id="languages">
  <button id="pt" onclick="t.change(this.id,true);">pt</button>
  <button id="en" onclick="t.change(this.id,true);">en</button>
</div>

<script>
  $(document).ready(function(){
    fixedSidebarHeight();
    window.t.init();
  })
</script>
<div id="fb-root"></div>
