<div id="aside-wrapper" class="column three-twelfth">
  <aside class="column three-twelfth">
    <header>
      <hgroup>
        <h1>Uhura</h1>
        <h2>Podcast Manager</h2>
      </hgroup>
    </header>

    <ul>
      <li>
        {{#link-to 'index' }}
          <span class="typcn typcn-home-outline"></span>{{t "sidebar.home"}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'channel.new' }}
          <span class="typcn typcn-document-add"></span>{{t "sidebar.channel_add"}}
        {{/link-to}}
      </li>
      <li>
        <a href="/users/sign_out">
          <span class="typcn typcn-power-outline"></span>{{t "sidebar.sign_out"}}
        </a>
      </li>
    </ul>

    <ol>
    {{#each channel in model}}
      <li id="channel-{{unbound channel.id}}">
        {{#link-to 'channel' channel.id}}
          <img {{bind-attr src=channel.image_url}} />
          <span class="title">{{channel.title}}</span>
          <i>{{channel.to_view}}</i>
        {{/link-to}}
      </li>
    {{/each}}
    </ol>

    <footer>
      <a href="http://twitter.com/UhuraApp"><span class="typcn typcn-social-twitter"> </span>{{t "footer.follow_us"}}</a>
      <br />
      <a href="https://www.facebook.com/uhuraapp"><span class="typcn typcn-social-facebook"></span>{{t "footer.like_us"}}</a>

      <p>{{{t "footer.contact"}}}
         <a href="mailto:dukekhaos@gmail.com">dukekhaos@gmail.com</a></p>
    </footer>
  </aside>
</div>

<div id="content" class="column nine-twelfth">
  {{outlet}}
  {{view App.PlayerView}}
</div>

<div id="languages">
  <button id="pt" onclick="t.change(this.id,true);">pt</button>
  <button id="en" onclick="t.change(this.id,true);">en</button>
</div>

<div id="fb-root"></div>
