<div id="channel_new" class="uk-animation-fade page">
  <h3>{{t 'channel_new.title'}}</h3>
  <h4>{{t 'channel_new.subtitle'}}</h4>

  <form id="add_channel" class="uk-form uk-form-stacked" {{action 'addChannel' on='submit' }} >
    <label for="url" class="uk-form-label">{{t 'channel_new.podcast_url'}}</label>
    <input class="uk-form-large" id="url" type="url" name="url" />
    <button type="submit" class="uk-button uk-button-success">{{t 'channel_new.button.add'}}</button>
  </form>

  <form id="search_channel" class="uk-form uk-form-stacked" {{action 'searchChannel' on='submit' }} >
    <label for="q" class="uk-form-label">{{t 'channel_new.search'}}</label>
    <input class="uk-form-large" id="q" type="search" name="q" />
    <button type="submit" class="uk-button uk-button-success">{{t 'channel_new.button.search'}}</button>
  </form>

  {{#if channels}}
  <ul id="channels">
    {{#each channel in channels}}
      {{channel-cover channel=channel}}
    {{/each}}
  </ul>
  {{/if}}

  <div id="by-category">
    <h4>By Categories</h4>
    <ul class="categories">
    {{#each categories}}
      {{#if channels}}
      <li class="category">
        <h5>{{name}}</h5>
        <ul class="channels">
        {{#each channel in channels}}
          {{channel-cover channel=channel}}
        {{/each}}
        </ul>
      </li>
      {{/if}}
    {{/each}}
    </ul>
  </div>

</div>
