<h2>
  {{title}}
  {{#if subscribed}}
    <button class="uk-button uk-button-small uk-button-danger fa fa-times" {{action 'unsubscribeChannel' id}}>{{t 'channel_new.button.unsubscribe'}}</button>
  {{else}}
    <button class="uk-button uk-button-small uk-button-success subscribe" {{action 'subscribeChannel' id}}>{{t 'channel_new.button.subscribe'}}</button>
  {{/if}}
</h2>

<ul class="episodes">
  {{#each episode in episodes}}
    {{episode-list-item episode=episode}}
  {{/each}}
</ul>
