{{liquid-modal}}

{{title 'Uhura App'}}

{{#if session.isAuthenticated}}
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header mdl-layout--overlay-drawer-button">
  {{render 'partials.menu'}}


  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{title}}</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        {{!-- <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a> --}}
      </nav>
    </div>
  </header>


  <main class="mdl-layout__content">
    <div class="page-content">
      {{liquid-outlet}}
    </div>
  </main>
</div>
{{else}}
<div class="mdl-layout mdl-js-layout unlogged">
  <main class="mdl-layout__content">
    <div class="page-content">
      {{outlet}}
    </div>
  </main>
</div>
{{/if}}

{{the-player}}
{{render "meta.organization"}}
