{{title model.title}}
{{track-page 'Channel'}}

{{outlet}}

{{#layout-logged invalidateSession="invalidateSession"}}
<div id="profile">
  <span class="subscribe-status">{{if model.subscribed "subscribed" "unsubscribed"}}</span>
  <div class="channel-information mdl-card mdl-shadow--2dp">
    <div class="channel-card-content">
      {{channel-lazy-image channel=model}}

      <div class="about">
        <h1>{{model.title}}</h1>
        <div class="description">{{model.description}}</div>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      {{subscribe-button channel=model}}
      {{#link-to (query-params share-channel="on") tagName="a" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}
        Share
      {{/link-to}}
    </div>
  </div>

  <h2>
    Episodes
    <a href="mailto:dukekhaos@gmail.com" id="contact_us">Something wrong? tell me!</a>
  </h2>

  <div class="episodes-list mdl-card mdl-shadow--2dp">
    {{episodes-list episodes=model.episodes store=store channel=model episodeHasLink=episodesHasLink}}
  </div>

  <div class="footer">
    {{model.copyrigth}}
  </div>
</div>
{{/layout-logged}}

<script>
  UserVoice.push(['addTrigger', '#contact_us', {}]);
</script>
