<div id="profile">
  {{subscribe-button channel=model}}
  <div class="channel-information mdl-card mdl-shadow--2dp">

    <img class="channel-img" data-adaptive-background='1' data-layzr="{{model.imageURL}}" data-fallback="assets/channel-placeholder.png" src="assets/channel-placeholder-loading.jpg" />

    <div class="about">
      <h1>{{model.title}}</h1>
      <div class="description">{{model.description}}</div>
    </div>
  </div>

  <h2>Episodes</h2>

  <div class="episodes-list mdl-card mdl-shadow--2dp">
    {{episodes-list episodes=model.episodes store=store channel=model}}
  </div>

  <div class="footer">
    {{model.copyrigth}}
  </div>
</div>
