<div id="channel-profile" class="about uk-grid" data-uk-grid-margin>
  <div class="image-subscribe-button uk-width-small-1-1 uk-width-medium-3-10 uk-float-left">
    <img {{bind-attr src=image_url}} />
    {{subscribe-button channel=model}}
  </div>

  <div class="info uk-width-small-1-1 uk-width-medium-7-10 uk-float-right">
    <h1>{{title}}</h1>
    <div class="description">{{description}}</div>
  </div>

  <h2 class="uk-width-small-1-1 uk-width-medium-6-10 uk-width-7-10">{{t 'titles.episodes'}}</h2>
  <button class='all-listened uk-button uk-width-medium-4-10 uk-width-3-10 uk-width-small-1-1 uk-button-danger' {{action 'markAllAsListened'}}>
    <i class="typcn typcn-tick-outline"></i>
    {{t 'views.channel.mark_all_as_listened'}}
  </button>
  <div class="uk-width-1-1 episodes-list">
    {{episodes-list episodes=episodes store=store channel=model}}
  </div>

  <div class="footer">
    {{copyrigth}}
  </div>
</div>
