<h2>Your favorites podcasts with you everywhere!</h2>

<form class="uk-form uk-container-center uk-width-medium-1-2" {{action 'search' on='submit'}}>
  <fieldset data-uk-margin>
    <div class="uk-form-icon uk-width-1-1">
      <i class="uk-icon-search"></i>
      {{input class="uk-form-large uk-width-1-1" type="text" name="query" value=query placeholder="Feed URL or a Channel Title"}}
    </div>
  </fieldset>
</form>

{{#if results}}
<div id="search-results">
  <h3>Results for "{{q}}"</h3>
  <ul id="search-channels" class="uk-grid categories">
    {{#each channel in results}}
    <li class=" uk-width-small-1-2 uk-width-medium-1-4 uk-width-large-1-5 uk-width-xlarge-1-6 ">
      {{#link-to 'channel' channel}}
      <img data-layzr="{{channel.imageURL}}" data-fallback="assets/channel-placeholder.png" src="assets/channel-placeholder-loading.jpg" />
      <span>{{channel.title}}</span>
      {{/link-to}}
    </li>
    {{/each}}
  </ul>

  <p>* The results is only about podcasts channel in Uhura database,
      maybe you found more podcasts about {{q}} searching in
      <a target="_blank" href="http://www.google.com/search?q=podcast+{{q}}">Google</a>,
      <a target="_blank" href="https://www.bing.com/search?q=podcast+{{q}}">Bing</a>,
      <a target="_blank" href="https://duckduckgo.com/?q=podcast+{{q}}">DuckDuckGo</a>,
      or put directly the podcast feed URL.<br />
      <strong>If you find a good poscast channel in the search engines above
      you can put the feed url on search input, we will read the feed url
      and will create the channel in our database</strong>
  </p>
</div>
{{/if}}

<ul id="categories" class="uk-list uk-grid" data-uk-grid-margin>
  {{#each category in model}}
  <li class="uk-width-small-1-1 uk-width-medium-1-3 uk-width-large-1-4 uk-width-xlarge-1-5">
    <h3>
      {{#link-to 'category' category}}
      {{category.name}}
      {{/link-to}}
    </h3>
  </li>
  {{else}}
  <li class=""> Loading Categories... </li>
  {{/each}}
</ul>

