<div id="player">
  <a class="close uk-close uk-close-alt"></a>


  {{#if loaded}}
    <img {{bind-attr src=channel.image_url}} class="channel-img" />
    <button {{action 'playpause'}} {{bind-attr class=":typcn playing:typcn-media-pause:typcn-media-play :playpause"}}></button>
    <h2>{{title}}</h2>
    <h3>{{channel.title}}</h3>
  {{else}}
    <div class="player-loading">Loading...</div>
  {{/if}}

  <div class="player-audio-element">
    <audio id="audio-player" controls style="width: 100%"></audio>
  </div>
</div>
