<div id="player">
  <img {{bind-attr src=model.channel.imageURL}} class="channel-img" />
  <h2>{{model.title}}</h2>
  <h3>{{model.channel.title}}</h3>

  <div id="wrapper-audio-element" class="player-audio-element">
  </div>

  <button {{action "playpause"}} class="playpause material-icons">
    {{if model.playing 'pause' 'play_arrow'}}
  </button>
</div>
