<div id="player">
  <img {{bind-attr src=model.channel.imageURL}} class="channel-img" />
  <h2>{{model.title}}</h2>
  <h3>{{model.channel.title}}</h3>

  {{!-- <button {{action 'playpause'}} {{bind-attr class=":typcn playing:typcn-media-pause:typcn-media-play :playpause"}}></button> --}}
  <div id="wrapper-audio-element" class="player-audio-element">
  </div>
</div>
