<div id="authentication-container">
  <div id="sign_up" class="mdl-card mdl-shadow--2dp">
    <form {{action "authenticate" on="submit"}} autocomplete="false">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{input id="name" required="required" type="text" value=name classBinding=":mdl-textfield__input" }}
        <label class="mdl-textfield__label" for="name">Name</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{input id="email" required="required" type="email" value=email classBinding=":mdl-textfield__input" }}
        <label class="mdl-textfield__label" for="email">Email</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        {{input id="password" required="required" type="password" autocomplete="false" value=password classBinding=":mdl-textfield__input"}}
        <label class="mdl-textfield__label" for="password">Password</label>
      </div>
      <div class="actions">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored" {{action "register"}}>Sign Up</button>

        <p>
          Already have a account?
          {{#link-to 'login'}}
            Log in now
          {{/link-to}}
        </p>
      </div>
    </form>

    {{#if errorMessage}}
      <p class="error-message">
        {{errorMessage}}
      </p>
    {{else}}
      {{#if processing}}
        <p class="processing">Processing {{processingMessage}}.... </p>
      {{/if}}
    {{/if}}

    <div class="connect-services">
      <button {{action 'authenticate' 'google'}} class="sign-up-button sign-up-button__google mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
        Sign up with Google
      </button>
      <button {{action 'authenticate' 'facebook'}} class="sign-up-button sign-up-button__facebook mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised">
        Sign up with Facebook
      </button>
    </div>
    <div class="terms">
      By clicking in 'Sign Up' you are agreeing to the
      {{#link-to 'terms'}}
      Terms of Service
      {{/link-to}} and<br />
      {{#link-to 'privacy'}}
      Privacy Policy
      {{/link-to}}
    </div>
  </div>
</div>
